name: CI

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  build:
    uses: powsybl/github-ci/.github/workflows/build-backend-app-generic.yml@3ed0caeb3395e55868884f466d726ddaee877850
    with:
      sonarOrganization: powsybl-ci-github
      sonarProjectKey: com.powsybl:powsybl-network-conversion-server
      dockerImage: docker.io/powsybl/network-conversion-server
      dockerUsername: powsyblci
      eventOrganizations: gridsuite
      eventType: network_conversion_server_updated
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}
      docker-token: ${{ secrets.DOCKERHUB_TOKEN }}
      repo-token: ${{ secrets.REPO_ACCESS_TOKEN }}
