name: Patch

on:
  workflow_dispatch:
    inputs:
      releaseVersion:
        description: version to patch (vX.X)
        required: true

jobs:
  run-patch:
    uses: powsybl/github-ci/.github/workflows/patch-backend-app-generic.yml@3ed0caeb3395e55868884f466d726ddaee877850
    with:
      githubappId: ${{ vars.POWSYBL_ACTIONS_APPID }}
      sonarOrganization: powsybl-ci-github
      sonarProjectKey: com.powsybl:powsybl-network-conversion-server
      dockerImage: docker.io/powsybl/network-conversion-server
      dockerUsername: powsyblci
      releaseVersion: ${{ github.event.inputs.releaseVersion }}
    secrets:
      githubappPrivateKey: ${{ secrets.POWSYBL_ACTIONS_SECRET }}
      sonar-token: ${{ secrets.SONAR_TOKEN }}
      docker-token: ${{ secrets.DOCKERHUB_TOKEN }}

